@keyframes svelte-1gyxe75-accordion-down{0%{opacity:0;transform:translateY(-10px)}to{opacity:1;transform:translateY(0)}}.animate-accordion-down.svelte-1gyxe75{animation:svelte-1gyxe75-accordion-down .3s ease-out}
