@keyframes svelte-xwqxx1-accordion-down{0%{opacity:0;transform:translateY(-10px)}to{opacity:1;transform:translateY(0)}}.animate-accordion-down.svelte-xwqxx1{animation:svelte-xwqxx1-accordion-down .3s ease-out}
