@keyframes svelte-1vh996o-accordion-down{0%{opacity:0;transform:translateY(-10px)}to{opacity:1;transform:translateY(0)}}.animate-accordion-down.svelte-1vh996o{animation:svelte-1vh996o-accordion-down .3s ease-out}
