@keyframes svelte-zvzbkl-accordion-down{0%{opacity:0;transform:translateY(-10px)}to{opacity:1;transform:translateY(0)}}.animate-accordion-down.svelte-zvzbkl{animation:svelte-zvzbkl-accordion-down .3s ease-out}
